.video h1, .video p, .video H2 {
    text-align: center;
    margin: 16px 10px;
}
.head {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 177.7%;
    height: 1vh;
}
.wrapper iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.photo figure {
    width: 100%;
    padding: 1em 0 0 0;
    margin: 0 auto;
}
.photo img {
    width: 100%;
}
.photo h2 {
    text-align: center;
    margin: 14px 0;
}
.photo p {
    width: 90%;
    margin: 14px auto;
    text-align: center;
}
.button {
    display: block;
    width: fit-content;
    margin: 14px auto;
    border-radius: 0.6em;
    background-color: #FF3829;
    padding: 0.3em 0.6em;
    color: white;
    text-decoration: none;
}
.button:hover {
opacity: 90%;
}
footer p {
    text-align: center;
}