.head h1, .head p, .head h2 {
    text-align: center;
    margin: 16px 10px;
}
.head {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/IMG_7814.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.photo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photo figure {
    width: 90%;
    padding: 1em 0 0 0;
    margin: 0 auto;
}
.photo img {
    width: 100%;
    border-radius: 0.6em;
}
.photo h2 {
    text-align: center;
    margin: 14px 0;
}
.photo p {
    width: 90%;
    margin: 14px auto;
    text-align: center;
}
.button {
    display: block;
    width: fit-content;
    margin: 14px auto;
    border-radius: 0.6em;
    background-color: #FF3829;
    padding: 0.3em 0.6em;
    color: white;
    text-decoration: none;
}
.button:hover {
opacity: 90%;
}
.black {
    background-color: black;
    color: white;
}
footer {
    padding: 1em 0;
    margin: 0;
    color: white;
    background-color: #48474A;
    font-size: 0.5em;
}
footer p {
    text-align: center;
    margin: 0;
}
@media only screen and (min-width: 922px) {
    .photo {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .photo figure {
        margin-right: 5%;
    }
    .text {
        margin-right: 5%;
    }
    .head {
        padding: 0 20%;
    }
}