html {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}
h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
}
h2 {
    font-weight: 700;
}
p {
    font-weight: 300;
}
.video p {
    font-weight: 500;
}
@media only screen and (min-width: 600px) {
html {
    font-size: 1.5rem;
}
}
@media only screen and (min-width: 922px) {
    html {
        font-size: 2rem;
    }
}
@media only screen and (min-width: 1200px) {
    html {
        font-size: 2.3rem;
    }
}
